<h2>編號: <%= @qrcode.code %> 點檢者明細</h2>


<table>
 <ul>
 <% @attendees.each do |attendee| %>
	 <li>
     <%= attendee.created_at %>
	   <%= attendee.name %>

	  <%= link_to '詳細資料', qrcode_attendee_path(@qrcode, attendee), :class => "btn btn-default" %>

	   <%= link_to '編輯', edit_qrcode_attendee_path(@qrcode, attendee), :class => "btn btn-default"  %>

	   <%= link_to '刪除', qrcode_attendee_path(@qrcode, attendee), :class => "btn btn-default" ,:method => :delete %>
	</li>
 <% end %>
</table>

</ul>

	  <%= link_to '新增點檢者', new_qrcode_attendee_path(@qrcode), :class => "btn btn-default"  %>

	  <p><%= link_to '回到首頁', qrcodes_path,:class => "btn btn-success" %></p>
