<h1> Qrcode 管理表 </h1>

<table>




</table>



<table class="table">

<% @qrcodes.each do |e| %>

  <tr>
    <td>
 	  <%= e.code %>
    </td>

    <td class="btn-group">
 	   <%= link_to "詳細資料", qrcode_path(e)  ,:class => " btn btn-primary active "%>
 	   <%= link_to "修改", edit_qrcode_path(e),:class => " btn btn-success active " %>
 	   <%= link_to "刪除", qrcode_path(e), :method => :delete, :class => "btn btn-danger active"%>
    </td>

     <td class="btn-group">
      <%= link_to '點檢者', qrcode_attendees_path(e), :class => "btn btn-default"  %>
	    <%= link_to '位置', qrcode_location_path(e), :class => "btn btn-default"  %>
     </td>

  </tr>
<% end %>

</table>

<table>
<%= link_to ' 新增 Qrcodes', new_qrcode_path, :class => "btn btn-default"  %>
</table>
<%= paginate @qrcodes %>
