
<h2><%= @qrcode.name %></h2>


<p> 代碼: <%= @qrcode.code %> </p>

<p> 詳細內容: <%= simple_format(@qrcode.description) %> </p>

<p>表頭總類: <%= @qrcode.category.name %><p>

<p>表頭位置: <%= @qrcode.location.name %></p>
<p><%= link_to '回到主選單', qrcodes_path, :class => "btn btn-default"  %></p>
